extends ./../../_layouts/_modal-base.pug

//- Template variables
block vars
  - var $modalClass = 'scores'
  - var $modalName = 'Pontuações'

block body
  p(class='mg-modal__body--info') Não há pontuações no momento. Começe a jogar agora!

