section(class='mg-home__game')
  div(class='mg-home__game--heading')
    h1 Jogo da Memória
    span Concentre-se e use a sua memória para encontrar todos os pares.
  
  div(class='mg-home__game--buttons')
    button(class='mg-home__game--buttons-homepage js--btn-homepage' type='button')
      i(class='fa fa-home')
      | Tela Inicial
    button(class='mg-home__game--buttons-redo js--btn-redo' type='button')
      i(class='fa fa-refresh')
      | Refazer
  div(class='mg-home__game--view')
    div(class='mg-home__game--view__container js--view')

  div(class='mg-home__game--info')
    div(class='mg-home__game--info-clicks')
      span(class='mg-home__game--info-clicks-text js--info-clicks')
    div(class='mg-home__game--info-hits')
      span(class='mg-home__game--info-hits-text js--info-hits')
    div(class='mg-home__game--info-time')
      span(class='mg-home__game--info-time-text js--info-time')
