extends ./../../_layouts/_modal-base.pug

//- Template variables
block vars
  - var $modalClass = 'scores'
  - var $modalName = 'Pontuações'

block body
  p(class='mg-modal__body--info') Em breve as jogadas serão pontuadas e informadas aqui. Enquanto isso, continue jogando :D

