
include ./../_mixins/_metaTags.pug

block vars

doctype
html(lang='pt-BR')
  //- Head
  include ./../_partials/utils/_head.pug

  body(class='is--opacity')
    div(class='mg-overlay js--overlay')

    //- Header
    include ./../_common/_header.pug

    //- Main Content
    main(class=`mg-${$templateClass}__main container js--main`)
      block content

    //- Footer
    include ./../_common/_footer.pug

    //- Scripts
    block scripts
      include ./../_partials/utils/_scripts.pug
      include ./../_partials/utils/_google-fonts.pug
