
include ./../_mixins/_metaTags.pug

block vars

doctype
html(lang='pt-BR')
  head
    +metaTags()
    link(rel='shortcut icon' href='assets/img/favicon.ico' type='image/x-icon')

    //- Styles
    block styles
      link(href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' rel='stylesheet')
      link(href='assets/css/memory_game-general.css' rel='stylesheet' media='all')
      link(href='assets/css/common/memory_game-common-globals.css' rel='stylesheet' media='all')

  body
    div(class='mg-overlay js--overlay')

    //- Header
    include ./../_common/_header.pug

    //- Main Content
    main(class=`mg-${$templateClass}__main container js--main`)
      block content

    //- Footer
    include ./../_common/_footer.pug

    //- Scripts
    block scripts
      script(src='assets/js/vendor/jquery.min.js')
      script(src='assets/js/common/memory_game-common-globals.js')
