.mg-home__game {
  &--heading {
    @include rem(margin-bottom, 20px);

    h1 {
      @include rem(margin-bottom, 10px);
      @include rem(font-size, 30px);
      @include font-weight(bold);
      transition: all 0.5s ease-in-out;
    }
  }

  &--buttons {
    text-align: right;

    &-homepage,
    &-redo {
      @extend %btn--default-outline;

      i { transition: all 0.3s ease-out; }
    }

    &-homepage {
      &:hover {
        i {
          transform: scale(1.3);
        }
      }
    }

    &-redo {
      visibility: hidden;
      opacity: 0;

      &:hover {
        i {
          transform: rotate(360deg);
        }
      }

      &.is--active {
        visibility: visible;
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  &--view {
    &__container {
      @include rem(padding, 20px 0);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .card {
      @include rem(width, 128px);
      @include rem(height, 128px);
      @include rem(margin, 5px);
      @include rem(border-radius, 5px);
      perspective: 500;
      transition: all 0.5s ease-in-out;

      &:not(.ok) {
        cursor: pointer;
      }

      &-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: all 0.6s ease;
        transform: rotateY(0);
        transform-style: preserve-3d;
        backface-visibility: hidden;
      }
      
      &-back {
        transform: rotateY(180deg);
      }
      
      figure {
        position: absolute;
        margin: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        
        img {
          @include rem(border-radius, 5px);
          width: 100%;
          height: 100%;
        }
      }
      
      &.flip {
        .card-inner {
          transform: rotateY(180deg)
        }
      }

      &.is--invisible {
        transform: scale(0);
      }
    }
  }

  &--info {
    @include rem(margin-top, 20px);
    display: flex;
    align-items: center;
    
    div {
      @include rem(margin-right, 20px);
      @include font-weight(semi-bold);
      
      i {
        @include rem(margin-right, 5px);
        @include rem(font-size, 20px);
      }

      &:not(:last-child) {
        &::after {
          @include rem(margin-left, 15px);
          content: '|';
        }
      }      
    }
  }
}