.mg-modal-config {
  .mg-modal {

    &__body {
      &--info {
        text-align: center;
      }

      &--title {
        @include rem(margin-bottom, 5px);
        @include font-weight(bold);
      }

      .card {
        &-quantity-container {
          .form-group {
            @extend %form--group;

            .input-group-select {
              @extend %form--input-group-select;
            }

            .form-control {
              @extend %form--control;
            }
          }
        }

        &-background-container,
        &-draw-container {
          figure {
            @include rem(width, 100px);
            @include rem(height, 100px);
            @include rem(margin, 10px);
            outline: none;
            cursor: pointer;

            @include mq('sm', max) {
              @include rem(width, 80px);
              @include rem(height, 80px);
            }

            &.is--selected {
              position: relative;

              &::before {
                @include rem(border-radius, 5px);
                @include rem(font-size, 40px);
                @include font-weight(semi-bold);
                content: '\f00c';
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(#000, 0.5);
                color: #fff;
                font-family: 'Font Awesome\ 5 Free';
              }
            }

            img {
              @include rem(border-radius, 5px);
              width: 100%;
              height: 100%;
            }
          }
        }

        &-background-container {
          @include rem(margin, 0 20px 30px);

          .slick {
            &-arrow::before {
              color: #000;
            }
            &-prev,
            &-next {
              top: 45%;
              &::before {
                @include rem(font-size, 30px);
                @include font-weight(semi-bold);
                font-family: 'Font Awesome\ 5 Free';
              }
            }
            &-prev::before {
                content: '\f104';
            }
            &-next::before {
                content: '\f105';
            }
          }
        }

        &-draw-container {
          display: flex;
          justify-content: center;

          figure {
            @include rem(border-radius, 5px);
            border: 1px solid #999;
          }
        }
      }
    }

    &__footer {
      &-btn-save {
        @extend %btn--success-outline;
      }
    }
  }
}