head
  +metaTags()
  title Jogo da Memória
  link(rel='shortcut icon' href='assets/img/favicon.ico' type='image/x-icon')

  //- Resource Hints
  include ./_resource-hints.pug

  //- Styles
  block styles
    include ./_styles.pug
