//- External
link(href='//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.css' rel='stylesheet')
link(href='//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css' rel='stylesheet')
link(href='//use.fontawesome.com/releases/v5.4.2/css/all.css' rel='stylesheet' media='all')

//- Local
link(href='assets/css/memory_game-general.css' rel='stylesheet' media='all')
link(href='assets/css/common/memory_game-common-globals.css' rel='stylesheet' media='all')
