@import './__config-base';

// Settings
@import './settings/_fonts';
@import './settings/notify';

body.has--no-scroll {
  overflow: hidden;
}

html,
body {
  opacity: 1;
  visibility: visible;
  transition: all 1s ease-out;

  &.is--opacity {
    opacity: 0;
    visibility: hidden;
  }
}

hr {
  @include rem(margin, 30px 0);
  border: 0;
  border-top: 1px solid #eee;
}

.mg-container {
  display: block;
  margin: 0 auto;
  width: 80%;

  @include mq('md', max) {
    width: 90%;
  }
}

.is--hidden {
  display: none;
}

.mg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(#000, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &.is--active {
    opacity: 1;
    visibility: visible;
  }
}
