// Form

%form {
  &--group {
    margin-bottom: 1rem;

    label {
      font-weight: 700;
    }
  }
  &--control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-family: $font-main;
    font-size: 16px;
    line-height: 25px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
  }
  &--input-group {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;

    .input-group-addon {
      margin-right: -1px;
      padding: 10px 15px;
      border-radius: 5px 0 0 5px;
      border: 1px solid #ced4da;
    }

    .form-control {
      border-radius: 0 5px 5px 0;
    }
  }
  &--input-group-select {
    @extend %form--input-group;

    select {
      appearance: none;
    }

    select::-ms-expand {
      display: none;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 13px;
      right: 15px;
      width: 10px;
      height: 10px;
      border-left: 2px solid; 
      border-bottom: 2px solid;
      transform: rotate(-45deg);
    }
  }
}