// Form

%form {
  &--group {
    @include rem(margin-bottom, 16px);

    label {
      @include font-weight(bold);
    }
  }
  &--control {
    @include rem(padding, 6px 12px);
    @include rem(font-size, 16px);
    @include rem(line-height, 25px);
    @include rem(border-radius, 5px);
    display: block;
    width: 100%;
    font-family: $font-main;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    box-sizing: border-box;
  }
  &--input-group {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;

    .input-group-addon {
      @include rem(margin-right, -1px);
      @include rem(padding, 10px 15px);
      @include rem(border-radius, 5px 0 0 5px);
      border: 1px solid #ced4da;
    }

    .form-control {
      @include rem(border-radius, 0 5px 5px 0);
    }
  }
  &--input-group-select {
    @extend %form--input-group;

    select {
      appearance: none;
    }

    select::-ms-expand {
      display: none;
    }

    &::after {
      @include rem(top, 13px);
      @include rem(right, 15px);
      @include rem(width, 10px);
      @include rem(height, 10px);
      content: '';
      display: inline-block;
      position: absolute;
      border-left: 2px solid; 
      border-bottom: 2px solid;
      transform: rotate(-45deg);
    }
  }
}